*{
    margin:0px 0px;
    padding:0px 0px;
    color:#000;
}
body{
    background-color:rgba(0,0,f,0.15);
}

ul{
    list-style:none;
}

li{
    float:left;
}
#header{
    position:relative;
    top:0%;
    height:60px;
    width:100%;
    background-color:rgba(0,0,255,0.15);
    border-radius:2%;
    box-shadow:inset 0 0 8px  rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.2);
}

#foobar{
    position:relative;
    
}

#left{
    position:absolute;
    top:10%;
    left:0.5%;
    background-color:#fff;
    width:20%;
    min-height:500px;
    border-radius:2%;
    box-shadow:inset 0 0 8px  rgba(0,0,255,0.1), 0 0 16px rgba(0,0,255,0.2);
}
#right{
    width:20%;
    position:absolute;
    top:10%;
    right:0.5%;
    min-height:500px;
    background-color:#fff;
    border-radius:2%;
    box-shadow:inset 0 0 8px  rgba(0,0,255,0.1), 0 0 16px rgba(0,0,255,0.2);
}

#center_up{
    width:50%;
    position:absolute;
    left:25%;
    top:10%;
    min-height:200px;
    background-color:#fff;
    border-radius:2%;
    box-shadow:inset 0 0 8px  rgba(0,0,255,0.1), 0 0 16px rgba(0,0,255,0.2);
}

#center_down{
    width:50%;
    position:absolute;
    left:25%;
    top:42%;
    min-height:500px;
    background-color:#fff;
    border-radius:2%;
    box-shadow:inset 0 0 8px  rgba(0,0,255,0.1), 0 0 16px rgba(0,0,255,0.2);

}

.liImg{
    width:75px;
    height:75px;
}

.liInfo{
    text-align:center;
    font-family:arial,sans-serif;
}

.items{
    width:100px;
    height:80px;
    overflow:hidden;
    background-color:rgba(0,100,200,0.5);
    border-radius: 8%;
    margin: 10px;
    box-shadow: inset 0 0 8px rgba(0,0,255,0.1) , 0 0 16px rgba(0,0,255,0.2);
}

.quantity {
    width:100%;
    font-size:70px;
    font-family:cursive;
    position:relative;
    text-align:center;
    top:100%;  
}

.innerDivLi{
    width:100px;
    height:80px;
    position:absolute;
    text-align:center;
}




    .billDiv1 {
        padding:5px;
        font-family:courier;
        height:70px; 
        box-shadow: 0 8px 6px -6px  rgba(0,200,255,0.4);
        margin:9px;
    }

    .billDiv2 {
        position:absolute;
        left:5px;
        width:70%;
        border-right:1px solid black;
    }

    .billDiv3 {
        position:absolute;
        left:72%;
        width:20%;
        text-align:center;
    }

    .billDiv5 {
        text-align:center;
    }

    .billInp {
        width:40%;
        margin:3px;
        text-align:center;
    }

    .billbut{
        padding:2px;
        margin:3px;
    }
